///////////////
// Variables //
///////////////

// Screen sizes
$screen-xs: 568px;
$screen-sm: 728px;
$screen-md: 960px;
$screen-lg: 1240px;

// Fonts
$font-base:			'Roboto Condensed', sans-serif !default;
$font-primary:		'oswald', sans-serif;
// Variables
// --------------------------