{{apiMe}}

<header>
	<div style="background-image: url('{{bannerimg}}')">
		<div class="overlay-black"></div>
		<h1>
			{{details.title}}
		</h1>

		<!-- DATE -->
		<div class="container-fluid date">
			<div class="date-inner col-md-4">
				{{details.date_time}}
			</div>
		</div>
		<!-- DATE -->
	</div>
</header>


<!-- HEADER -->

<!-- HEADING INFO -->
<div class="info-container">
	<div class="container-fluid">
		<div class="col-md-4 location">
			<div class="col-md-6">
				<ui-gmap-google-map center="{latitude: 14.6416813, longitude: 121.0402921}" zoom="15"></ui-gmap-google-map>
			</div>
			<div class="col-md-6">
				<h4>{{details.venue}}</h4>
				<p>{{details.location}}</p>
			</div>
		</div>
		<div class="col-md-8 company-desc">
			<div class="short-desc" ng-bind-html="short_desc()">
			</div>
		</div>
	</div>
</div>
<!-- HEADING INFO -->

<!-- HEADING INFO FOR MOBILE-->
<div class="info-mobile-container">
	<div class="container-fluid">
		<div class="col-md-4 location">
			<div class="col-md-6 location-desc">
				<h4>{{details.venue}}</h4>
				<p>{{details.location}}</p>
			</div>
			<div class="col-md-6">
				<ui-gmap-google-map center="{latitude: 14.6416813, longitude: 121.0402921}" zoom="15"></ui-gmap-google-map>
			</div>
		</div>
		<div class="col-md-8 company-desc">
			<div class="short-desc" ng-bind-html="short_desc()">
			</div>
		</div>
	</div>
</div>
<!-- HEADING INFO -->

<!-- TICKETS -->
<div class="buy-tickets">
	<div class="container-fluid">
		<h1>Buy Your Tickets now!</h1>
		<a href="#">
			<div class="col-md-4 ticket" ng-repeat="ticket in tickets">
				<div class="ticket-inner" ng-repeat="(key,val) in ticket">
					<h3 class="ticket-type">{{key}}</h3>
					<p>Starts at</p>
					<h3 class="price">
						$ {{val.price}}
					</h3>
					<i class="fa fa-angle-right"></i>
				</div>
			</div>
		</a>
		<button class="btn btn-default btn-buy">
			BUY FOR YOUR GROUP <i class="fa fa-angle-right"></i>
		</button>
	</div>
</div>
<!-- TICKETS -->
<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<div class="girls" style="background-image: url('./assets/images/Poster.jpg');"></div>
				<div class="share-links-mobile">
					Share event: 
						<a href="javascript:void(0);" ng-click="fbshare()"><i class="fa fa-facebook-official"></i>
						</a><a href="{{twitter}}"><i class="fa fa-twitter"></i></a>
				</div>
			</div>
			<div class="col-md-9 col-sm-12">
				<div class="long-desc" ng-bind-html="long_desc()"></div>
			</div>
		</div>
	</div>
	<div class="share-links">
		Share event: 
			<a href="javascript:void(0);" ng-click="fbshare()"><i class="fa fa-facebook-official"></i>
			</a><a href="javascript:void(0);" onclick="window.open('https://twitter.com/intent/tweet?text=Hi please share this event&url=http://clothesbuffetmanila.com/','popup','width=600,height=600'); return false;"><i class="fa fa-twitter"></i></a>
	</div>
	<div class="horizontal"></div>
	<div class="organizer container-fluid">
		<div class="col-md-3">
			<h6>ORGANIZER</h6>
			<h4>{{organizer}}</h4>
			<ul>
				<li><a href="{{website}}"><i class="fa fa-link"></i></a></li>
				<li><a href="{{fblink}}"><i class="fa fa-facebook-official"></i></a></li>
				<li><a href="{{twitter}}"><i class="fa fa-twitter"></a></i></li>
			</ul>
		</div>
	</div>
</footer>